<!doctype html>
<html lang="en">

<head>
    {% block header %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <meta name="google-signin-client_id"
        content='395768933339-qqilcp6g6ghvbu3nk886v7mnarh3vrju.apps.googleusercontent.com'>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '395768933339-qqilcp6g6ghvbu3nk886v7mnarh3vrju.apps.googleusercontent.com',
                    scope: 'openid email'
                });
            });
        }
    </script>

    <title>Catalog</title>
    {% endblock %}
</head>


<body class="bg-light">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('index')}}">
            ARMIN
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalog
                    </a>
                    <div id='category_dropdown' class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <a class="dropdown-item"
                            href="{{url_for('showCategoryItems', category_id = category.id )}}">{{category.name}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default "
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="signinButton" href="#">Sign In</a>
                        <a class="dropdown-item" href="#" onclick="signOut();">Sign out</a>
                        <a class="dropdown-item" href="{{url_for('profile')}}">Profile</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        {% block section %}
        {% endblock %}
    </section>

    <script>
        $('#signinButton').click(function () {
            function signInCallback(authResult) {
                if (authResult['code']) {
                    //$('#signinButton').attr('style', 'display: none');
                    $.ajax({
                        type: 'POST',
                        url: '/oauth/google',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/json',
                        success: function (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 2000);
                        },
                        processData: false,
                        data: JSON.stringify(authResult)
                    });
                } else {
                    // handle error
                    console.log('There was an error: ' + authResult['error']);
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
            auth2.grantOfflineAccess().then(signInCallback);
        });
    </script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            });
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>