{% extends 'base.html' %}


{% block section %}
<div class="container">
  <br />
  <!-- <div id="signinButton">
    <span class="g-signin" data-scope="openid email"
      data-clientid="395768933339-qqilcp6g6ghvbu3nk886v7mnarh3vrju.apps.googleusercontent.com"
      data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
      data-callback="signInCallback" data-approvalprompt="force">
    </span>
  </div> -->

  <button id="signinButton">Sign in with Google</button>

  <div id="result"></div>

  <script>

    // function onSignIn(googleUser) {
    //   // Useful data for your client-side scripts:
    //   var profile = googleUser.getBasicProfile();
    //   console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    //   console.log('Full Name: ' + profile.getName());
    //   console.log('Given Name: ' + profile.getGivenName());
    //   console.log('Family Name: ' + profile.getFamilyName());
    //   console.log("Image URL: " + profile.getImageUrl());
    //   console.log("Email: " + profile.getEmail());

    //   // The ID token you need to pass to your backend:
    //   var id_token = googleUser.getAuthResponse().id_token;
    //   console.log("ID Token: " + id_token);
    // }

    $('#signinButton').click(function () {
      function signInCallback(authResult) {
        if (authResult['code']) {

          // Hide the sign-in button now that the user is authorized, for example:
          // $('#signinButton').attr('style', 'display: none');

          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main catalog page
          $.ajax({
            type: 'POST',
            url: '/oauth/google?state={{STATE}}',
            // url: '/oauth/google',
            // Always include an `X-Requested-With` header in every AJAX request,
            // to protect against CSRF attacks.
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',

            // data: JSON.stringify(authResult),
            data: authResult['code'],

            success: function (result) {
              if (result) {
                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                setTimeout(function () {
                  window.location.href = "/catalog";
                }, 4000);
              } else if (authResult['error']) {
                // console.log('There was an error: ' + authResult['error']);
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
          });
        } else {
          print("There was an error.")
        }
      }
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
</div>
{% endblock %}