<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function () {
        auth2 = gapi.auth2.init({
          client_id: '395768933339-obhjee7ae2qq6m7cvnhop6bsikbvk5rd.apps.googleusercontent.com',
          scope: 'openid email'
        });
      });
    }
  </script>
</head>

<body>
  <button id="signinButton">Google Signin</button>
  <div id="result"></div>
  <!-- <script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/oauth/google');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function () {
        console.log('Signed in as: ' + xhr.responseText);
      };
      xhr.send('idtoken=' + id_token);
    }
  </script>
  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script> -->
  <script>
    $('#signinButton').click(function () {
      function signInCallback(authResult) {
        if (authResult['code']) {
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/oauth/google',
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success: function (result) {
              $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
              setTimeout(function () {
                window.location.href = "/";
              }, 2000);
            },
            processData: false,
            data: authResult['code']
          });
        } else {
          // handle error
          console.log('There was an error: ' + authResult['error']);
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
</body>

</html>