{% extends 'base.html' %}

{% block section %}
<div class="container">
    <div class="col">
        <h1>New Category Item</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <textarea class="form-control" id="name" rows="1">{{item.name }}</textarea>

                <label for="price">Price</label>
                <textarea class="form-control" id="price" rows="1">{{item.price }}</textarea>

                <label for="size">Size</label>
                <textarea class="form-control" id="size" rows="1">{{item.size}}</textarea>

                <label for="color">Color</label>
                <textarea class="form-control" id="color" rows="1">{{item.color}}</textarea>

                <label for="description">Color</label>
                <textarea class="form-control" id="description" rows="2">{{item.description}}</textarea>
            </div>
            <div>
                <button class="btn btn-light" type="submit">Save</button>
                <a href="{{url_for('showCategoryItems', category_id = category_id)}}"><button
                    class="btn btn-dark">Cancel</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}