{% extends 'base.html' %}

{% block section %}
<div class="container">
    <div class="col">
        <h1>New Category</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <textarea class="form-control" id="name" rows="1">{{category.name}}</textarea>

                <label for="name">User</label>
                <textarea class="form-control" id="name" rows="1">{{category.user_id}}</textarea>
            </div>
            <div>
                <button class="btn btn-light" type="submit">Save</button>
                <a href="{{url_for('index')}}"><button class="btn btn-dark">Cancel</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}